<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
     <add key="DataFolder" value="Y:\Data\Applications\CFSyncFolders\Configuration"/>
	 <add key="LogsFolder" value="Y:\Data\Applications\CFSyncFolders\Logs\{machine}"/>
	 <add key="Debug" value="true"/>
     <add key="AutoSync.FrequencyMins" value="30"/>
	 <!-- Currently only support local file system. Will support cloud later -->
     <add key="Folder1.FileRepositoryClass" value="LocalRepository"/>
     <add key="Folder2.FileRepositoryClass" value="LocalRepository"/>                  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
